.myBtn  {
    padding: 7px 15px;
    color: teal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid teal;
    cursor: pointer;
    align-items: center;
    font-weight: 600;
}

.myBtn:hover {
    background-color: teal;
    color: #fff;
}